
@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
   
}

<html>
<head>
  
     <title></title>
    <link rel="stylesheet" href="~/css/AccessDenied.css"  asp-append-version="true" />
  
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Sorry, it's not allowed to go beyond this point!</p>
            <p><a href="/">Please, go back this way.</a></p>
        </div>
    </div>
    <script src="~/js/AccessDenied.js"></script>
</body>

</html>
