@model List<DAL.ViewModel.BusinessModel>

@{
    ViewData["Title"] = "Partners";
    Layout = "~/Views/Shared/_AdminDash.cshtml";
}

<div class="container-fluid  bg-body-secondary">
    <div class="container " style="height:80vh !important">
        <div class="justify-content-between d-flex  container-fluid mb-2 position-relative ">
            <div class="mt-3">
                <h3> Vendor(s)</h3>
            </div>
            <div>
                <a asp-action="AdminDash" class="btn btn-outline-info mt-3"> ❮  Back </a>
            </div>
        </div>
        <div class="card border-0 shadow  mb-5 rounded">
            <div class="d-flex justify-content-between ps-3">

                <div class="d-flex   border-secondary rounded align-items-center mx-sm-2 ps-2 my-2" >
                    <div class="input-group bg-white mt-2 mb-2 d-flex align-items-center ms-2 " style="width:17rem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                            <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                            </path>
                        </svg>
                        <input type="text" class="form-control ms-2 " id="textSearch" placeholder="Search Vendors">
                    </div>
                    <select class="form-select border-0 shadow-none" aria-label="Default select example" id="profession" name="accounttypeuser" style="width:17rem">
                        <option value="0">All Professions</option>
                        @foreach (var item in ViewBag.HealthProfessionalTypes)
                        {
                        <option value="@item.HealthProfessionalId">@item.ProfessionName</option>
                            
                        }
                    </select>

                </div>


       
                <div class="my-auto">
                    <a asp-action="AddBusiness">
                        <button class="btn btn-outline-info mx-2 shadow-none" id="providerBtn" style="width:fit-content">
                            <span>Add Business</span>
                        </button>
                    </a>
          
                </div>

            </div>

            @* ---------------------------------- *@
            <div id="PartnerPartial"></div>
        </div>
    </div>
</div>



