@model DAL.ViewModel.Patient_ResetPassword
@{
    ViewData["Title"] = "Patient_ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Reset Password Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Patient_ResetPassword.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloDoc.styles.css" asp-append-version="true" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-6 col-sm-12 main-img opacity-50">
          <img src="../images/11116016_415.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col col-lg-6 col-sm-12 text-center right-side">
          <div class="dark-button float-end">
            <button class="dark-button float-end border border-info bg-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="35"
                fill="currentColor"
                class="bi bi-moon text-info m-auto p-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"
                />
              </svg>
            </button>
          </div>
          <!-- doct img -->
          <div class="logo mt-5">
            <img src="~/images/doct-logo-2.png" alt=""   style="height:10rem"/>
          </div>

          <!-- login form -->

            <form method="post">
          <div class="mt-4">
            <a asp-action="Patient_login" class="text-info fs-5 back">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                />
              </svg>
              <span>Back</span>
            </a>
            <h1>Reset your Password</h1>

            <div class="inp">
              <div class="form-floating d-flex mb-3 border rounded inps">
                <input
                  type="email"
                  asp-for="Email"
                  class="form-control border-0 no-border"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <img
                  src="../images/user_circle.svg"
                  alt=""
                  class="pe-3 bg-white"
                />
                <label for="floatingInput">Email</label>
              </div>
            </div>
            <button class="btn btn-info text-white" type="submit">
              Reset Password
            </button>

           </form>
            <div class="mt-3 d-block">
              <a
                class="text-center text-info fs-5"
                href="Patient_login.html"
                style="text-decoration: none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                  />
                </svg>
               <a asp-action="Patient_login" style="text-decoration:none"> <span class="text-info">Back to login</span></a>
              </a>
            </div>
          </div>

          <!-- ------------------- -->
        </div>
        <footer class="text-muted text-center position-absolute bottom-0 w-100">
          <span>Terms of condition |</span>
          <span>Privacy policy</span>
        </footer>
      </div>
    </div>
  </body>
</html>

