
@model DAL.ViewModel.Patient_login;
@{
    ViewData["Title"] = "Patient_login";
  Layout = "~/Views/Shared/_Layout3.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-6 col-sm-12 main-img opacity-50">
                <img src="../images/11116016_415.jpg" alt="" class="img-fluid" />
            </div>

            <div class="col col-lg-6 col-sm-12 text-center right-side">
               
                    <button class=" dark-button float-end  border-info" id="theme-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="30"
                             height="35"
                             fill="currentColor"
                             class="bi bi-moon text-info m-auto p-2"
                             viewBox="0 0 16 16">
                            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                        </svg>
                    </button>
        
    

                <!-- doct img -->
                <div class="logo mt-5" >
                    <img src="~/images/doct-logo-2.png" alt="" id="img-logo" style="height:10rem" />
                </div>

                <!-- login form -->


                @* ---------------Back Button------------------- *@
                <div>
                    <a asp-action="index" asp-controller="Home" class="text-info fs-5 mt-4 back" style="text-decoration:none">
                        <span class="fs-4"><</span>
                        <span> Back</span>
                    </a>
                @* ---------------Back Button------------------- *@

                    <h1>Login to your account</h1>

                    <form asp-controller="Login" asp-action="Patient_login" method="post">
                    <div class="inp">
                        <div class="form-floating d-flex  border rounded inps">
                            <input type="text"
                                       asp-for="Email"
                                   class="form-control border-0 no-border"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <img src="../images/user_circle.svg"
                                 alt=""
                                 class="pe-3 white-bag" />
                            <label for="floatingInput">Email</label>
                    
                        </div>
                         <span asp-validation-for="Email" class="text-danger d-block text-start"></span>
                        <div class="form-floating d-flex  mt-3 border rounded">
                            <input type="password"
                                     asp-for="PasswordHash"
                                   class="form-control border-0 no-border"
                                   id="floatingPassword"
                                   placeholder="Password" />
                            <img src="../images/password_icon.svg"
                                 alt=""
                                 class="pe-3 white-bag" />
                            <label for="floatingPassword">Password</label>
                        </div>
                            <span asp-validation-for="PasswordHash" class="text-danger  d-block  text-start"></span>

                    </div>
                    <button class="btn btn-info text-white" type="submit">Login</button>
                    </form>
                    <a asp-action="Patient_ResetPassword" style="text-decoration:none"> <div class="text-center text-info fs-5 mt-3">Forget password? </div></a>
                </div>

                <!-- ------------------- -->
            </div>
            <footer class="text-muted text-center position-absolute bottom-0">
                <span>Terms of condition |</span>
                <span>Privacy policy</span>
            </footer>
        </div>
    </div>
   
   
    



