﻿
﻿@{
    ViewData["Title"] = "PatientHistory";
    Layout = "~/Views/Shared/_AdminDash.cshtml";
}

<div class="container-fluid bg-light mb-5" style="height:80%!important">
    <h4 class="py-3">Patient history</h4>
    <div class="mx-0 row px-4 border-bottom-0 border border-secondary rounded-top pt-3 pb-4 ">
        <div class="col-sm-12 col-md-12 col-lg-3 form-floating my-3">
            <input type="text"
                   class="form-control"
                   id="FirstName"
                   placeholder="First Name" />
            <label for="floatingInput1" class="ms-2">First Name</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 form-floating my-3">
            <input type="text"
                   class="form-control"
                   id="LastName"
                   placeholder="Last Name" />
            <label for="floatingInput2" class="ms-2">Last Name</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 form-floating my-3">
            <input type="text"
                   class="form-control"
                   id="Email"
                   placeholder="name@InputType.com" />
            <label for="floatingInput4" class="ms-2">Email</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 form-floating my-3">
            <input type="tel"
                   class="form-control"
                   id="PhoneNum"
                   placeholder="PhoneNumber" />
            <label for="floatingInput5" class="ms-2">Mobile Number</label>
        </div>
    </div>
    <div class="d-flex justify-content-end border-bottom-0 border-top-0 border border-secondary pb-2  pe-4">
        <button class="btn btn-outline-info" onclick="RemoveFilters()">Clear</button>
        <button class="btn btn-info mx-3" onclick="GetPatientRecord()">Search</button>
    </div>
    <div class=" border-top-0 border border-secondary rounded-bottom  px-3 overflow-auto" style="height: 80% !important" id="PatientHistoryPartial">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var currentpage = 1;
    var pagesize = 6;
    GetPatientRecord();

    function GetPatientRecord() {

        $(document).on("click", "#pagination a.page-link", function () {
            console.log("Pagination link clicked!");
            var id = $(this).attr("id");
            currentpage = $("#" + id).data("page");
            console.log("Current Page: " + currentpage);
            GetPatientRecord();
        });

        var firstName = $("#FirstName").val();
        var phone = $("#PhoneNum").val();
        var lastName = $("#LastName").val();
        var email = $("#Email").val();

        $.ajax({
            type: 'GET',
            url: '/AdminDash/GetPatientRecords',
            data: { firstName: firstName, lastName: lastName, email: email, phone: phone,currentpage:currentpage,
            pagesize:pagesize},
            success: function (response) {
                $("#PatientHistoryPartial").html(response);
            },
            error: function (response) {
                alert("Fail");
            }
        })
    }
    function RemoveFilters() {
        $("#FirstName").val('');
        $("#LastName").val('');
        $("#Email").val('');
        $("#PhoneNum").val('');
        GetPatientRecord();
    }
</script>